* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: linear-gradient(to top, #d987cd, #00d4ff);
    --line-color: linear-gradient(to left top, #82ff86 20%, #144425, #104e1c);
    --leaf-color: linear-gradient(to bottom, #ffe785, #faf573, #1a233a 99%);
    --fall-leaf-color: linear-gradient(to bottom, #ffe785, #faf573, #e2d64f 99%);

}
body {
    background-image: var(--color-bg);
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.grass{
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
}

.grass img {
    object-fit: contain;
    width: 100%;
}

.flower {
    position: relative;
}

.flower-wrapper {
    position: absolute;
    left: 40%;
    bottom: 2vmin;
}
.flower_line {
    width: 2vmin;
    height: 56vmin;
    background-image: var(--line-color);
    border-radius: 4vmin;
}

.flower-center {
    position: absolute;
    top: 1vmin;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    width: 2vmin;
    height: 2vmin;
    background-color: red;
}

.flower_leaf {
    position: absolute;
    left: 50%;
    bottom: 2vmin;
    transform: translateX(-50%);
    width: 5vmin;
    height: 14vmin;
    background-image: var(--leaf-color);
    clip-path: ellipse(50% 50% at 50% 50%);
    transform-origin: center bottom;
    animation: open-flower 2s 1s backwards;
}

.flower_leaf-1 {
    width: 1-vmin;
    height: 12vmin;
    bottom: 3vmin;
    border-radius: 50% 50% 50% / 80% 80% 20% 20%;
    background-color: #e2d64f;
    background-image: none;
    animation: open-flower-middle 1.4s 1s backwards;
}

.flower_leaf-2 {
    transform: translateX(-50%) rotate(-30deg);
}

.flower_leaf-3 {
    transform: translateX(-50%) rotate(-50deg);
}

.flower_leaf-4 {
    transform: translateX(-50%) rotate(-70deg);
}

.flower_leaf-5 {
    transform: translateX(-50%) rotate(30deg);
}

.flower_leaf-6 {
    transform: translateX(-50%) rotate(50deg);
}

.flower_leaf-7 {
    transform: translateX(-50%) rotate(70deg);
}

.flower_leaf-8 {
    width: 13vmin;
    height: 11vmin;
    bottom: 6vmin;
    border-radius: none;
    clip-path: none;
    left: -30%;
    border-radius: 10vmin 2vmin 10vmin 2vmin;
    background-color: var(--fall-leaf-color);
    transform: rotate(-55deg);
 }

 .flower_fall-down {
    animation: flower_fall-down 8s 1.2s linear forwards;
 }

 @keyframes open-flower {
    0%{
        transform: translateX(-50%) rotate(0);
    }
 }

 @keyframes open-flower-middle {
    0%{
        opacity: 0;
        transform: translateX(-50%) scale(0);
    }
 }

 @keyframes flower_fall-down {
    0%{
        opacity: 0;
        transform: rotate(-55deg)
    }

    50%{
        bottom: 3vmin;
        transform: rotateX(-100deg);
    }

    100%{
        transform: translate(2vmin, 52vmin) rotate(210deg);
    }
 }